.idea/
cmake-build-debug/
CMakeLists.txt Новый текстовый документ - копия (2).txt Новый текстовый документ - копия (3).txt Новый текстовый документ - копия (4).txt Новый текстовый документ - копия (5).txt Новый текстовый документ - копия.txt Новый текстовый документ.txt
*.txt
